body{
    background: linear-gradient(to right,rgb(180, 53, 75),purple);
}

.container{
    display: grid;
    width: 80vw;
    height: 80vh;
    grid-template-columns:repeat(2, 1fr) ;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    margin: auto;
 justify-items: center;
 text-align: center;
 align-items: center;

}
div{
    border-radius: 5px;
}
 .coluna{
    background-color: rgb(180, 130, 226);
 height: 200px;
 width: 550px;

 }

 .menu{
    grid-area: header;
    background-color: rgb(181, 113, 245);
    border-radius: 5px;
    height: 48px;
    display: flex;
    margin-left: 50px;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    box-sizing: 10px;
    text-transform: uppercase;
    font-size: 10;
    color: rgb(223, 190, 4);
    padding: 12px 16px;
 }

 .wrapper{
    display: grid;
    grid-gap:20px;
    grid-template-columns: 1fr ;
    grid-template-areas: 
    'header' 'hearder';

 }

 .coluna h3 p{
    text-align: center;
    margin-top: 10px;
 }